# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go cache / binaries
.gocache/
.cache/
bin/

# Editors / OS
.DS_Store
.idea/
.vscode/

# Dependencies
vendor/

# Generated assets
web/app.wasm
app.wasm
transform-go